@import url('https://fonts.googleapis.com/css2?family=Genos:ital@1&display=swap');

*{
    font-family: 'Genos', sans-serif;
    margin:0;
}
:root{
    --mindaro: #BCE784;
    --emerald: #5DD39E;
    --blue: #348AA7;
    --ultra-violet: #525174;
    --english-violet: #513B56;
}


/* head */
h1{
    text-align: center;
    font-size: 5rem;
}
.index{
    text-decoration: none;
    color: black;
}
.welcome-grid-container{
    /* margin-top:1rem; */
    /* display:grid;
    place-items: center;
    grid-template-columns: repeat(1 , 1fr); */
    /* grid-gap:1rem; */
    display: flex;
    flex-direction: column;
}
.world{
    text-align: center;
    font-size: 15rem;
    width: 100%;
    background-color: var(--mindaro);
    position:relative;
    height:22rem;
}
.welcome{
    height:14rem;
    padding: 1rem;
    font-size: 2rem;
    background-color: var(--emerald);
}


/* form */
form{
    background-color: var(--blue);
}
fieldset{
    border:0; 
    font-size: 2rem;
}

/* landen */

h3{
    font-size: 2rem;
    padding:1rem;
    background-color: var(--blue);
}
.country-flag{
    width: 18rem;
}
.countries-grid{
    display:grid;
    justify-items: center;
    width:100%;
    background-color: var(--mindaro);
}
.another{
    font-size: 1.5rem;;
}
.country{
    margin-top:2rem;
    margin-bottom:2rem;
    padding:1rem;
    border:1px solid var(--english-violet);
    background-color: var(--emerald);
}

footer{
    height:5rem;
    background-color: var(--mindaro);
}


/* mediaqueries */

@media screen and (min-width: 50em){
    .welcome-grid-container{
        /* margin-top:1rem; */
        /* display:grid;
        place-items: center;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap:1rem; */
        display:flex;
        flex-direction: row;
    }
    .countries-grid{
        display:grid;
        justify-items: center;
        width:100%;
        background-color: var(--mindaro);
        grid-template-columns: repeat(2 , 1fr);
    }
    .world{
        width: 50%;
    }
    .welcome{
        height: 20rem;
    }

}

@media screen and (min-width: 75em){
    .countries-grid{
        grid-template-columns: repeat(3 , 1fr);
    }
}